#searchFormBox
{
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
}
#searForm
{
  font-size: 1.3em;
  width: 900px;
  display: inline-block;
}
::placeholder
{
	text-align:center;
  font-size: 1.1em;
  font-family: "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
}
#searForm button
{
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid rgb(109,109,109);
	background-color: rgba(0,0,0,0);
	padding: 5px;
}
#searForm button:hover
{
	color:white;
	background-color: rgb(71,71,71);
}
table
{
	font-size: 0.8em;
	margin-left: auto;
	margin-right: auto;
}

